TELEGRAM_BOT_TOKEN=your_telegram_bot_token
QWEN_API_KEY=your_qwen_api_key
QWEN_MODEL=qwen-plus
QWEN_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
ANKI_CONNECT_URL=http://127.0.0.1:8765

